PORT = "port number"
MONGO_URL =  "mongoDB url"
JWT_SECRET = "jwt secret"
PWD_SECRET = "password secret"

CLOUDINARY_CLOUD_NAME=" cloudinary clod name"  
CLOUDINARY_API_KEY="cloudinary api key" 
CLOUDINARY_API_SECRET="cloudinary api secret" 

EMAIL_USER="your-email@gmail.com"
EMAIL_APP_PASS="your-16-character-app-password"